
  html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    background-color: #0e1e4c;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .menu ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin-right: 0;
    flex-basis: 10%;
    text-align: center;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }
  
  .menu a:hover {
    background-color: #e6e9f2;
    color: #000000;
  }

  .menu a.current {
    display: block;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    background-color: #e6e9f2;
  }

  .hero {
    text-align: center;
  }

  .logsignin ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .logsignin li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .logsignin li:last-child {
    margin-right: 0;
  }
  
  .logsignin a.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .logsignin .btn-login {
    background-color: #3b60cd;
    color: rgb(255, 255, 255);
  }
  
  .logsignin .btn-signup {
    background-color: rgb(225, 142, 33);
    color: rgb(255, 255, 255);
  }
   
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .component {
    flex: 1;
    margin: 0 10px;
    text-align: center;
  }

  section:nth-of-type(odd) {
    width: 100%;
    background-color: #e6e9f2; 
  }
  
  section:nth-of-type(even) {
    width: 100%;
    background-color: #edf1fd; 
  }
  
  section:nth-of-type(3n) {
    width: 100%;
    background-color: #FFF3B0; 
  }


  .car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
  }
  
  .car-item {
    width: 30%;
    margin-bottom: 2em;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .car-image {
    max-width: 100%;
    height: auto;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
  }
  
  .car-title {
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
  
  .car-description {
    color: #666;
    margin-bottom: 1em;
  }
  
  .car-price {
    font-weight: bold;
    font-size: 1.2em;
    color: #c00;
  }

  form {
    max-width: 500px;
    margin: 0 auto;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  button[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }